.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    grid-row: span 2;
}

.card#long-card {
    grid-column: span 2;
}

.card#big-card {
    grid-column: span 2;
    grid-row: span 3;
    height: 600px;
}

.card:hover {
    transform: scale(1.1);
}

.card.flipped {
    transform: scale(1.1) rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5e5d5d;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box;
}

.card-front {
    font-family: 'Outer Heavy', sans-serif;
}

.card-back {
    font-family: 'Outer Light', sans-serif;
}

.card-front img {
    height: 80%;
    width: auto;
    object-fit: cover;
    border: none;
    margin-bottom: 10px;
}

.card-back {
    transform: rotateY(180deg);
    color: white;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.card p {
    text-align: center;
}
